* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  
    background-color: rgb(0, 0, 0);
}
h1 {
  color: rgb(209, 225, 233);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
}
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
footer, article {
  font-family: 'Helvetica', sans-serif;
  position: absolute;
  width: 100%;
  color: rgb(18, 2, 2);
  font-size: 20px;
  text-shadow: 1px 1px 1px #dad7e2; 
  background: rgba(13, 26, 161, 0.4);
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
}
footer a{
  color: rgb(209, 207, 231);
}